img {
    background-color: #000;
    width: 150px;
    height:150px;
    margin: 25px;
    animation-timing-function: linear;
    animation-name: spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    
    to {
        transform:rotate(360deg);
    }
}
